.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #B8DBFF;
}

.neighborhoods {
  stroke: black;
  fill: white;
}
.streets {
  stroke: #ccc;
  fill: white;
  opacity: 0.8;
}
.arteries {
  stroke: blue;
  fill: white;
}
.freeways {
  stroke: red;
  fill: white;
}

.map-controls {
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 5px;
    padding: 15px;
    background-color: #DBD7D2;
    border: 1px solid #ccc;
    border-radius: 2px;

}

del a:link, del a:active, del a:visited {
    color: #ccc;
}
