<div ng-style="mapControlStyle">
    <h4 class="text-center">San Francisco Bus Monitor</h4>
    <hr/>

    <accordion>
        <accordion-group heading="Help">
        </accordion-group>
        <accordion-group heading="Bus Information">
        </accordion-group>
        <accordion-group heading="Routes" is-open="true">
            <div class="row" ng-repeat="(k, route) in routes">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <span ng-if="route.selected">
                        <a href="" ng-click="selectRoute(route.tag)">
                            {{route.title}} ({{route.tag}})
                        </a>
                    </span>
                    <del ng-if="!route.selected" ng-click="selectRoute(route.tag)">
                        <a href="" ng-click="selectRoute(route.tag)">
                            {{route.title}} ({{route.tag}})
                        </a>
                    </del>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>
